.underline1 {
    width: 10.5rem;
    /* margin-left: 4.2rem; */
}

.text-bg-primary {
    background: linear-gradient(to bottom, dimgray, #1187cf);
}

.pay-container{
    height: 11rem;
    border: none;
    padding-top: 1rem;
}

.icon {
    width: 1rem;
    height: auto;
    margin-right: 0.4rem;
    margin-bottom: 0.3rem;
}

.card-title-pay {
    font-size: 1rem;
    font-weight: 500;
}

.card-container-pay {
    margin-top: 2rem;
}

.button-div {
    width: 120%;
    border: 0px solid red;
    margin-left: -0.8rem;
}

.balance {
    text-decoration: none;
    color: white;
}

/* 태블릿 */
@media screen and (min-width: 577px) and (max-width: 1023px) {
    .card-container-pay {
        width: 150%;
        margin-left: -3rem;

    }

    .button-div {
        border: 0px solid red;
        margin-left: -10%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .card-container-pay {
        width: 90%;
        margin-left: -3rem;

    }}


/* 모바일 */
@media screen and (max-width: 576px) {
    .card-container-pay {
        width: 90%;
        margin-left: -3rem;
        margin-top: -1rem;
    }

    .button-div {
        border: 0px solid red;
        margin-left: -10%;
    }
}
