@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

.wrapper {
  max-width: 500px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 30px 40px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

.logo img {
  width: 18rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

form input {
  margin: auto;
  margin-left: -1rem;
  font-family: 'Poppins', sans-serif;
}

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: #1187cf;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: #18a8f1;
}

.option {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.option label.text-muted {
  display: block;
  cursor: pointer;
}

.option input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  content: '';
  width: 13px;
  height: 13px;
  display: block;
  background: #1187cf;
  position: absolute;
  top: 48%;
  left: 53%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.option input[type='checkbox']:checked ~ .checkmark {
  background: #fff;
  transition: 300ms ease-in-out 0s;
  border: 1px solid #1187cf;
}

.option input[type='checkbox']:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}
#forgot {
  color: #1187cf;
}
#forgot:hover {
  color: #18a8f1;
}

.btn.btn-block {
  border-radius: 5px;
  background-color: #1187cf;
  color: #fff;
  border-style: none;
  margin-left: 0.2rem;
  width: 98%;
  height: 2.5rem;
}

.btn.btn-block:hover {
  background-color: #18a8f1;
  border-style: none;
}

.socialLogin {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.social-connect1 {
  width: 96%;
  margin: auto;
}
.social-connect2 {
  width: 96%;
  margin: auto;
}

.signup {
  color: #1187cf;
}
.signup:hover {
  color: #18a8f1;
  cursor: pointer;
}

@media (max-width: 575px) {
  .wrapper {
    margin: 10px;
  }
}

@media (max-width: 424px) {
  .wrapper {
    padding: 30px 10px;
    margin: 5px;
  }

  .option {
    position: relative;
    padding-left: 22px;
  }

  .option label.text-muted {
    font-size: 0.95rem;
  }

  .checkmark {
    position: absolute;
    top: 2px;
  }

  .option .checkmark:after {
    top: 50%;
  }

  #forgot {
    font-size: 0.95rem;
  }
}
