@media screen and (min-width: 1023px) {
  .header-mypage {
    background-color: transparent;
    border-style: none;
    border-radius: 50% 50% 50% 50%;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    margin: auto;
  }
  
  .header-mypage:hover {
    background-color: #F7F8F9;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  
  .text-secondary-emphasis-mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}


@media screen and (max-width: 576px) {
  .header-mypage {
    background-color: transparent;
    border-style: none;
    border-radius: 50% 50% 50% 50%;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
  }

}

@media screen and (min-width: 577px) {
  .header-mypage {
    background-color: transparent;
    border-style: none;
    border-radius: 50% 50% 50% 50%;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
  }

}