.auction-container{
  margin-top: 3rem;
  text-align: center;
}

.table-custom {
  background-color: #F7F8F9;
}

/* 이미지 크기 조절 */
.table img {
  max-width: 8rem;
}

.auction-container td{
  height: auto;
}

