.rankingBookTitle {
  text-align: left;
  font-weight: bolder;
  margin-left: 3rem;
  margin-top: 3rem;
}

.book-slider-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  box-shadow: 0px 2px 10px gainsboro;
  border-radius: 10px;
  padding: 3rem;
}

.rankingBooks-card {
  width: 55%;
  margin: auto;
  text-align: center;
  color: black;
  border-radius: 10px;
  position: relative;
  overflow: visible;
}

.rankingBooks-card:hover {
  background-color: #f7f8f9;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.rankingBooks-card img {
  margin-bottom: 1.5rem;
}

.rankingBooks-card .bookTitle-text {
  font-size: larger;
  font-weight: 700;
  margin-bottom: 1rem;
}

.rankingBooks-card .bookAuthor-text {
  color: dimgray;
  font-weight: 600;
  font-size: medium;
}

.rankingBooks-card .rank-badge {
  position: absolute;
  left: -1rem;
  top: -1.5rem;
  color: #f7f8f9;
  font-size: 5rem;
  border-radius: 4px;
  text-shadow: -1px 2px 8px rgba(0, 0, 0, 0.7);
}

/* 모바일 */
@media screen and (max-width: 575px) {
  .rankingBookTitle {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .book-slider-container {
    padding: 2rem;
  }
}

/* 태블릿 */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .rankingBookTitle {
    margin-left: 2rem;
    font-size: 2rem;
  }

  .book-slider-container {
    padding: 2rem;
  }
}
