.rankingBookTitle {
  text-align: left;
  font-weight: bolder;
  margin-left: 2.5rem;
  margin-top: 5rem;
}
/* 
.custom-card {
    height: 16.5rem;
    width: 80%;
    border: 0px;
    margin: auto;
}

.rank-badge {
  position: absolute;
  top: -0.3rem;
  left: 0.3rem;  
  color: #fff;
  font-size: 3.7rem;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 1; /* 다른 내용 위에 표시되도록 설정 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* 그림자 스타일 적용 */
/* 
}

.btn-blue {
  background-color: #fff;
  border-color: #1187cf;
  color: #1187cf;
  border-radius: 6px;
  margin-top: 1rem;
}

.btn-blue:hover {
  background-color: #1187cf;
  color: #fff;
  cursor: pointer;
}
 */ 
