.tradingContainer {
  border-radius: 20px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
  margin: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.tradingTitle {
  font-weight: bold;
}

/* 폰트 크기 조정 */
.list-group-item {
  font-size: 1.1rem;
}

/* 배지 스타일 조정 */
.badge {
  background-color: #363636; 
  font-size: 0.85rem; 
  margin-right: 0.5rem;
  margin-left: -1rem;
  color: white; 
}

.bidBtn {
  height: 2.4rem;
  margin-top: 0.1rem;
}

.uploadBtn {
  height: 2.4rem;
  margin-top: 0.1rem;
}

.detail-card-container {
  width: 80%;
  margin: auto;
  box-shadow: none;
  font-size: 18px;
  border: none;
}

.itemInfo-container {
  margin: auto;
}

.bids-container {
  width: 80%;
  margin: auto;
}

.bidCreateContainer {
  width: 82%;
  margin: auto;
}

.itemExplain {
  width: 82%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .TradingBid-card-body{
    width: 80%;
    margin: auto;
  }
  
}