/* 정렬 버튼 스타일 */
.btn-group {
  float: right;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn-recent,
.btn-title,
.btn-pop {
  color: black;
  background: transparent;
  border: 1px solid lightslategray;
  color: lightslategray;
  font-weight: 500;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-recent:hover,
.btn-title:hover,
.btn-pop:hover {
  background-color: lightslategray;
  color: white;
}

/* 표 스타일 */
.searchTable {
  margin: 0 auto; 
  width: 80%; 
  border-collapse: collapse; 
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px; 
}

thead {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: black;
}

/* 관심 등록 버튼 스타일 */
.interestBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchBookImg {
  width: 100%;
  max-width: 120px;
  height: auto;
}

/* 태블릿 */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .searchTable {
    font-size: 80%; 
  }

  th,
  td {
    padding: 8px; 
  }
}

/* 모바일 */
@media screen and (max-width: 575px) {
  /* 표의 너비를 100%로 설정하여 화면 가로 크기에 맞게 조절 */
  .searchTable {
    width: 100%;
    margin: 0;
  }

  /* 표의 각 셀 스타일 조정 */
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px; /* 간격을 줄임 */
    font-size: 12px; /* 폰트 크기를 더 줄임 */
  }

  /* 표 헤더 스타일 조정 */
  thead {
    background-color: #f3f3f3;
  }

  /* 링크 스타일 조정 */
  a {
    text-decoration: none;
    color: black;
  }

  /* 이미지 스타일 조정 */
  .searchBookImg {
    max-width: 150px; /* 이미지 크기를 더 크게 조절 */
    height: auto; /* 세로 비율을 유지합니다. */
  }

  /* 정렬 버튼 스타일 조정 */
  .btn-group {
    float: none; /* 오른쪽 정렬 해제 */
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 1rem;
  }

  .btn-recent,
  .btn-title,
  .btn-pop {
    font-size: 14px; /* 버튼 텍스트 크기 축소 */
    margin-right: 5px; /* 간격 축소 */
    padding: 3px 6px; /* 간격 축소 */
  }
}
