/* 정렬 버튼 스타일 */
.btn-group {
  float: right;
  margin-bottom: 1rem;
}

.btn-recent,
.btn-title,
.btn-pop {
  color: black;
  background: transparent;
  border: 1px solid lightslategray;
  color: lightslategray;
  font-weight: 500;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-recent:hover,
.btn-title:hover,
.btn-pop:hover {
  background-color: lightslategray;
  color: white;
}

/* 표 스타일 */
.searchTable {
  margin: 0 auto; 
  width: 80%; 
  border-collapse: collapse; 
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px; 
}

thead {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: black;
}

/* 관심 등록 버튼 스타일 */
.interestBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchBookImg {
  width: 100%;
  max-width: 120px;
  height: auto;
}

/* 태블릿 */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .searchTable {
    font-size: 80%; 
  }

  th,
  td {
    padding: 8px; 
  }
}/* 모바일 */
@media screen and (max-width: 575px) {
  .searchTable {
    display: flex; 
    flex-direction: row;
  }

  .searchTable th,
  .searchTable td {
    flex: 1;
    text-align: center;
  }

  .searchTable thead {
    display: flex; 
    flex-direction: column; 
  }

  .searchTable tbody {
    display: flex;
    flex-direction: column; 
  }

  .searchTable th,
  .searchTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  .searchTable th {
    background-color: #f3f3f3;
  }

  .searchTable .searchBookTitle {
    font-weight: bold;
    margin-top: 5px;
  }

  .searchTable .searchBookImg {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
