.mypageContainer {
  border-radius: 20px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
  margin: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 576px) {
  .mypageContainer {
    border-radius: 20px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
  }
  .underline {
    width: 8rem;
  }

  .profile {
    width: 80%;
  }

  
}

