.book-sign-up-container {
  border-radius: 20px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
  margin: 3rem;
  margin-top: 3rem;
  font-weight: 500;
}

h2{
  text-align:center;
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

.col-md-6 {
  margin: auto;
}

.book-sign-up-form{
  margin-left: 1rem;
}

.formTitle {
  margin: auto;
  margin-left: 0;
  margin-bottom: 1rem;
  width: 80%;
}

.formContext {
  margin: auto;
  margin-left: 0;
  margin-bottom: 1rem;
  width: 80%;
}

.formPrice {
  margin: auto;
  margin-left: 0;
  margin-bottom: 1rem;
  width: 80%;
}

.exDateBtn-group{
  margin-bottom: 2rem;
}

.signupBtn{
  background-color: #fff;
  border-color: #1187cf;
  color: #1187cf;
  border-radius: 6px;
  width: 36.7rem;
  margin: auto;

}

.signupBtn:hover{
  background-color: #1187cf;
  border-color: #1187cf;
  color: #fff;
  border-radius: 6px;
}

