.container-fluid {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #fff;
}

.card2 {
  border-radius: 20px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

.text-sm {
  font-size: 14px;
}

input {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
}

button:focus {
  outline-width: 0;
}

.category-toggle {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding-top: 1rem;
  padding-left: 0.9rem;
  margin-bottom: 1rem;
}

.form-check {
  border: 0px red solid;
  width: 8.3rem;
  font-size: small;
}

.form-check-label {
  margin-left: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-blue-signup {
  background-color: #fff;
  border-color: #1187cf;
  color: #1187cf;
  border-radius: 6px;
  width: 100%;
}

.btn-blue-signup:hover {
  background-color: #1187cf;
  color: #fff;
  cursor: pointer;
}
.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.or {
  width: 10%;
}

.social-connect1 .btn {
  background-color: #fff;
  border-color: #ffcd00;
  color: #ffcd00;
  width: 100%;
}

.social-connect1 .btn:hover {
  background-color: #ffcd00;
  color: #fff;
}

.social-connect2 .btn {
  background-color: #fff;
  border-color: #03c75a;
  color: #03c75a;
  width: 100%;
}

.social-connect2 .btn:hover {
  background-color: #03c75a;
  color: #fff;
}

@media screen and (max-width: 768px ) {
  .addressBtn{
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 992px ) {
  .addressBtn{
    margin-bottom: 25px;
  }
}