.newBooks-card{
  width: 80%;
  margin: auto;
}

.custom-card-new{
  margin: auto;
}

/* NewBooks.css */
.book-slide img {
  max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞게 조절 */
  max-height: 30rem; /* 이미지의 최대 높이를 원하는 크기로 조절 */
}
