.newBookTitle {
  text-align: left;
  font-weight: bolder;
  margin-left: 3rem;
}

.book-slider-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.5rem;
  box-shadow: 0px 2px 10px gainsboro;
  border-radius: 10px;
  padding: 3rem;
}

.newBooks-card {
  width: 55%;
  margin: auto;
  text-align: center;
  color: black;
  border-radius: 10px;
}

.newBooks-card:hover {
  background-color: #f7f8f9;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.newBooks-card img {
  margin-bottom: 1.5rem;
}

.newBooks-card .bookTitle-text {
  font-size: larger;
  font-weight: 700;
  margin-bottom: 1rem;
}

.newBooks-card .bookAuthor-text {
  color: dimgray;
  font-weight: 600;
  font-size: medium;
}

.newBooks-card .auctionPrice-text {
  color: #0067a3;
  font-weight: 600;
  font-size: medium;
  margin-bottom: 0.1rem;
}

.newBooks-card .presentPrice-text {
  color: #9b111e;
  font-weight: 600;
  font-size: medium;
}

.book-slide img {
  max-width: 100%;
  max-height: 30rem;
}

/* 모바일 */
@media screen and (max-width: 575px) {
  .newBookTitle {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .book-slider-container {
    padding: 2rem;
  }
}

/* 태블릿 */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .newBookTitle {
    margin-left: 2rem;
    font-size: 2rem;
  }

  .book-slider-container {
    padding: 2rem;
  }
}
