.btn-buyer {
  border-color: #1187cf;
  color: #1187cf;
  font-weight: 600;
  width: 49.5%;
  margin-right: 0.2rem;
}

.btn-buyer:hover {
  border-color: #1187cf;
  color: #fff;
  background-color: #1187cf;
}

.btn-seller {
  border-color: lightslategray;
  color: lightslategray;
  font-weight: 600;
  width: 49.5%;
}

.btn-seller:hover {
  border-color: lightslategray;
  color: #fff;
  background-color: lightslategray;
}


@media screen and (max-width: 576px) {
  .btn-buyer {
    width: 80%;
  }

  .btn-seller {
    width: 80%;
    margin-right: 3px;
  }
  
}