.buyer-container{
  border: none;
}

.addressTitle {
  margin-top: 2rem;
}

#detailAddress,
#accountNumber {
  width: 65%;
  margin-right: 0.5rem;
}
.btn-blue-address,
.btn-blue-account,
.parcelNumBtn {
  border-color: lightslategray;
  color: lightslategray;
  border-radius: 0.6rem;
  height: 2.85rem;
}

.btn-blue-address:hover,
.btn-blue-account:hover,
.parcelNumBtn:hover {
  border-color: lightslategray;
  color: #fff;
  background-color: lightslategray;
}

.btn-blue-confirm {
  border-color: #1187cf;
  color: #1187cf;
  width: 100%;
  border-radius: 0.6rem;
  height: 2.85rem;
  margin-top: 2rem;
}
.btn-blue-confirm:hover {
  border-color: #1187cf;
  color: #fff;
  background-color: #1187cf;
}

.trackingNumber{
  margin-top: 2rem;
  margin-left: 0.2rem;
  padding: 0.9rem;
  background-color: #F7F8F9;
}

@media screen and (max-width: 576px) {
  .btn-blue-address,
  .btn-blue-account { 
    height: 2.5rem;
    width: 80%;
  }
  
}

@media screen and (min-width: 577px) and (max-width: 1023px) {
  .btn-blue-address,
  .btn-blue-account { 
    height: 2.5rem;
    width: 80%;
  }
  
}