body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
body *{
    border: black solid 0px;
}
header {
    background-color: #ffffff;
    color: lightgreen;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.user-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.user-left {
    flex: 0.3;
    padding: 20px;
    border: 5px black;
}
.user-right {
    flex: 0.7;
    flex-basis: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}
.user-right > * {
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
}
.user-right > #profile {
    width: 100%;
}
.menu-box{
    display:flex;
    justify-content: space-around;
}
.menu-box > *{
    width:10%;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}
.container > .form-control{
    height: 30vw;
    background-color: #ffffff;
}